.legal-container {
  color: #666;
  margin: 3rem auto;
  margin-top: 10rem;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  position: relative;
}

.legal-body {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.legal-copyright {
  margin-top: 3rem;
}

.topPage {
  position: absolute;
  bottom: 0;
  right: -5rem;
  font-size: 2rem;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(200, 200, 200, 0.9);
  color: rgba(200, 200, 200, 0.7);
  padding: 0.5rem;
}
