.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  max-width: 1600px;
  margin: auto;
  align-items: center;
  background-color: #fff;
}

.logo {
  width: 35px;
  cursor: pointer;
}

.navbar__List {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.shoppingCart {
  font-size: 1.8rem;
  position: relative;
  cursor: pointer;
  padding: 0.25rem;
}
.shoppingCart > p {
  color: #fff;
  background-color: #176dbd;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 2px;
  right: -8px;
  line-height: 1.375rem;
  text-align: center;
  font-weight: 700;
  font-size: 0.7rem;
}

.cartLogo {
  color: #444;
}
.cartLogo:hover {
  color: #444;
}

.navbar__List > li {
  padding: 0.2rem;
  text-decoration: none;
  color: #222;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.navbar__List > li:hover {
  border-bottom: 2px red solid;
}
.mobileNavHamburger {
  display: none;
}
.navbar__Mobile {
  display: none;
}

@media (max-width: 1080px) {
  .navbar__List {
    display: none;
  }
  .navbar {
    justify-content: space-between;
    margin: 0.25rem 1rem;
  }
  .mobile-nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
  }
  .mobileNavHamburger {
    display: inline-flex;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .navbar__Mobile > li {
    flex-direction: column;
    border-top: #666 1px solid;
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
  }
  .navbar__Mobile {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: -100%;
  }
  .navbar__show__Mobile {
    top: 8%;
  }
}
