.desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  max-width: 1600px;
  margin: auto;
  align-items: center;
}

.logo {
  width: 35px;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.shoppingCart {
  font-size: 1.5rem;
  position: relative;
}
.shoppingCart > p {
  color: #fff;
  background-color: #176dbd;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  position: absolute;
  top: -0.125rem;
  right: -0.625rem;
  line-height: 1.375rem;
  text-align: center;
  font-weight: 700;
  font-size: 0.7rem;
}
.cartLogo {
  color: #444;
}
.cartLogo:hover {
  color: #444;
}

.navbar > a {
  padding: 0.2rem;
  text-decoration: none;
  color: #222;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.navbar > a:hover {
  border-bottom: 2px red solid;
}
.mobile-nav {
  display: none;
}
.navbar__Mobile {
  display: none;
}

@media (max-width: 1400px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
  }
  .mobileNavHamburger {
    font-size: 1.5rem;
  }
  .navbar__Mobile {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    /* height: 100vh; */
    /* transform: translateY(100vh); */
  }
  .navbar__Mobile > a {
    flex-direction: column;
    border: #777 1px solid;
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    font-size: 2rem;
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
  }
}
