nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  max-width: 1600px;
  margin: auto;
}

.logo {
  width: 35px;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}
/* 
.navbar > li:hover {
  border-bottom: 1px red solid;
} */

.navbar > a {
  padding: 1.2rem;
  text-decoration: none;
  color: #222;
}
