.shopTitle {
  font-weight: 900;
  text-align: center;
  font-size: 2.5rem;
  line-height: 52px;
  letter-spacing: -1px;
  margin: 5rem 0;
}
.earbudIcon {
  width: 40px;
  margin: 1rem 3rem;
}

.headphonesFilter {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.headphones {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  cursor: pointer;
}
.headphones > p {
  opacity: 0.8;
}
.headphones > p:hover {
  opacity: 1;
}

/* Earbuds products */
.earbudsWrapper,
.headphonesWrapper {
  display: flex;
  max-width: 80rem;
  margin: auto;
  gap: 1rem;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}
.earBudsTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}

.earbudsHero {
  width: 480px;
  margin: 0 1rem;
  animation: slideUp 1s ease 0s;
  opacity: 1;
  border-radius: 10px;
}
.earbudsHero::before {
  opacity: 0;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.earBudsFeatures {
  padding: 0;
}
.earBudsFeatures > li {
  margin: 1rem;
  color: #161616;
  font-size: 1rem;
}
.newColors {
  color: #e31837;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.13;
  text-transform: uppercase;
  margin-top: 9px;
}

.earBudsHeroTitle {
  color: #161616;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.16;
  margin: 0.33rem 0;
}
.earBudsHeroPrice {
  color: #161616;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.4px;
  margin: 0.33rem 0;
}

/* Colors */
.earBudsColors {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0.25rem;
}
.dots,
.dotsSolo,
.dotsStudio {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.33rem;
  cursor: pointer;
  border: rgba(200, 200, 200, 0.7) 2px solid;
  cursor: pointer;
}

.dots:selected,
.dotsSolo:active,
.dotsStudio:active {
  border: rgb(24, 217, 69) 2px solid;
}

.dots:first-child {
  background-color: #ebebeb;
}
.dots:nth-child(2) {
  background-color: #e4ccee;
}
.dots:nth-child(3) {
  background-color: #6c6c6d;
}
.dots:nth-child(4) {
  background-color: #000;
}
.dots:nth-child(5) {
  background-color: #ecd1c4;
}
.dots:nth-child(6) {
  background-color: #b37f66;
}
.dots:nth-child(7) {
  background-color: #66423a;
}

/* Solos Color */
.dotsSolo:first-child {
  background-color: #cb9995;
}
.dotsSolo:nth-child(2) {
  background-color: #000;
}
.dotsSolo:nth-child(3) {
  background-color: #ce2617;
}
.currentColor {
  margin: 0.75rem 0;
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0rem;
}
.currentColor :first-child {
  width: 150px;
}
/* Studio Color */
.dotsStudio:first-child {
  background-color: #eee;
}
.dotsStudio:nth-child(2) {
  background-color: #404f6a;
}
.dotsStudio:nth-child(3) {
  background-color: #222;
}
.dotsStudio:nth-child(4) {
  background-color: #af1426;
}
.dotsStudio:nth-child(5) {
  background-color: #222;
}
.dotsStudio:nth-child(6) {
  background-color: #585a5b;
}

/* Poster */
.posterEarbuds {
  background-image: url("../public/assets/product-img/earbudsPoster.webp");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 65rem;
  width: 100%;
  height: 500px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  color: white;
}
.posterEarbuds > * {
  margin-left: 2rem;
}
.posterEarbuds > *:not(button) {
  font-family: "Abel", sans-serif;
}
.posterEarbudsHeader {
  font-size: 4.5rem;
}
.posterEarbudsHeader2 {
  font-size: 2.25rem;
}
.posterEarbudsBtn {
  appearance: none;
  width: 100px;
  background-color: white;
  border: none;
  border-radius: 30px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;

  min-height: 30px;
  min-width: 0;

  padding: 16px 32px;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  text-transform: uppercase;
}
.posterEarbudsBtn:hover {
  color: #fff;
  background-color: #b37f66;
  transform: translateY(-2px);
}
/* Footer product info */
.productFooterInfo {
  margin: 4rem auto;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 3rem;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 400;
  color: #757575;
}
.posterCardEarbuds {
  display: none;
}

/* buy button */
.button-15 {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: 0.3;
}

.button-15:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}
/* mobile */
@media (max-width: 1080px) {
  .productFooterInfo {
    margin: 4rem 2rem;
  }
}
@media (max-width: 850px) {
  .posterEarbuds {
    display: none;
  }
  .posterCardEarbuds {
    display: block;
    margin: 5rem auto;
    color: #fff;
  }
  .posterEarbudsBtn {
    width: 50%;
    font-size: 0.9rem;
  }
  .posterEarbudsBtn:hover {
    background-color: #000;
  }
  .posterCardBody {
    background-color: #8b6944;
    padding: 2rem 1.5rem;
  }
  .posterEarbudsHeader {
    font-size: 2rem;
  }
  .posterEarbudsHeader2 {
    font-size: 1.2rem;
  }
  .headphonesWrapper {
    flex-direction: column;
    margin: 1.5rem;
  }
  .earbudsWrapper,
  .headphonesWrapper {
    flex-direction: column;
    margin: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  .earbudsHero {
    width: 80%;
    margin: auto;
  }
  .earBudsTextContainer {
    margin: 1rem 2rem;
    align-items: center;
    width: 100%;
  }
  .currentColor {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  .earBudsColors {
    margin: 0;
  }
  .earBudsFeatures {
    margin: 0 2rem;
  }
}
